[submodule "Clap/thirdparty/glm"]
	path = Clap/thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "Clap/thirdparty/yaml-cpp"]
	path = Clap/thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Clap/thirdparty/soloud"]
	path = Clap/thirdparty/soloud
	url = https://github.com/dovker/soloud
[submodule "Clap/thirdparty/imgui"]
	path = Clap/thirdparty/imgui
	url = https://github.com/dovker/imgui
[submodule "Clap/thirdparty/SDL"]
	path = Clap/thirdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "Clap/thirdparty/gravity"]
	path = Clap/thirdparty/gravity
	url = https://github.com/marcobambini/gravity.git
