[submodule "Clap/thirdparty/glm"]
	path = Clap/thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "Clap/thirdparty/yaml-cpp"]
	path = Clap/thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Clap/thirdparty/imgui"]
	path = Clap/thirdparty/imgui
	url = https://github.com/dovker/imgui
[submodule "Clap/thirdparty/SDL"]
	path = Clap/thirdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "Clap/thirdparty/zip"]
	path = Clap/thirdparty/zip
	url = https://github.com/kuba--/zip
[submodule "Clap/thirdparty/wren"]
	path = Clap/thirdparty/wren
	url = https://github.com/wren-lang/wren
[submodule "Clap/thirdparty/assimp"]
	path = Clap/thirdparty/assimp
	url = https://github.com/assimp/assimp
[submodule "Clap/thirdparty/utfcpp"]
	path = Clap/thirdparty/utfcpp
	url = https://github.com/nemtrif/utfcpp
