[submodule "Clap/thirdparty/glm"]
	path = Clap/thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "Clap/thirdparty/SDL"]
	path = Clap/thirdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "Clap/thirdparty/zip"]
	path = Clap/thirdparty/zip
	url = https://github.com/kuba--/zip
[submodule "Clap/thirdparty/imgui"]
	path = Clap/thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "Clap/thirdparty/GameNetworkingSockets"]
	path = Clap/thirdparty/GameNetworkingSockets
	url = https://github.com/ValveSoftware/GameNetworkingSockets.git
